<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <nav id="nav">
      <a href="/users/<%=current_user.user_slug%>">profile</a>
      <a href="/logout">logout</a>
    </nav>
    <div class="main">

      <div class="profile" id="create-edit">
        <h1>Edit <%=@planet.name.titleize%></h1>

        <div class="form">
          <form action="/planets/<%=@planet.slug%>" method="POST">
            <input id="hidden" type="hidden" name="_method" value="patch">
            <label>Name:</label><br />
            <input type="text" name="name" value="<%=@planet.name.titleize%>" /><br /><br /><br />

            <label>Classification:</label><br />
            <input type="text" name="classification" value="<%if @planet.classification%> <%=@planet.classification.titleize%><%end%>" /><br /><br /><br />

            <label>Description:</label><br />
            <textarea name="description"><%=@planet.description%></textarea><br /><br /><br />

            <% if flash.has?(:message) %>
              <p id="flash"><%= flash[:message] %></p>
            <% end %><br />

            <input type="submit" value="Edit"/>
          </form>
        </div>

      </div>




    </div>


  </body>
</html>
