<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <nav id="nav">
      <a href="/profile">profile</a>
      <a href="/logout">logout</a>
    </nav>
    <div class="main">

      <div class="profile" id="create-edit">

        <h1><%=@planet.name%></h1>

        <p id="show">Classification: <%=@planet.classification%></p>
        <p id="show">Description: <%=@planet.description%></p>
        <p id="show">Alien Life Forms:</p>
        <%@planet.aliens.each do |alien|%>
        <p id="show"><%= alien.name %></p>
        <p id="show">other alien</p>
        <p id="show">other alien</p>
        <%end%></p>


        <a href="/planets/<%=@planet.slug%>/edit"><span class="button" id="edit-button">Edit</span></a>
        <a href="/planets/delete"><span class="button">Delete</span></a>
        </div>

      </div>




    </div>


  </body>
</html>
