<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <nav id="nav">
      <a href="/profile">profile</a>
      <a href="/logout">logout</a>
    </nav>
    <div class="main">

      <div class="profile" id="show-box">

        <h1 id="show-heading"><%=@alien.name%></h1>

        <p id="show-paragraph">Classification: <%=@alien.classification%></p>
        <p id="show-paragraph">Description:</p>
        <p id="show-paragraph"><%=@alien.description%></p>
        <p id="show-paragraph">Planet:</p>
        <a href="/planets/<%=@alien.planet.slug%>"><br /><br /><%=@alien.planet.name%></a>

        <a href="/aliens/<%=@alien.slug%>/edit"><span class="button" id="edit-button">Edit</span></a>
        <form action="/aliens/<%=@alien.slug%>" method="POST">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete" />
        </form>
        </div>


        </div>

      </div>




    </div>


  </body>
</html>
